<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtt.bbs.dao.forum.ArticleDao">
    <resultMap id="articleMap" type="com.qtt.bbs.model.entity.Article">
        <id property="id" column="id"/>
        <result property="typeId" column="typeid"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="ctime" column="ctime"/>
        <result property="origin" column="origin"/>
        <result property="info" column="info"/>
        <result property="readNum" column="readnum"/>
        <result property="uid" column="uid"/>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb_article(typeid, title, content, ctime, origin, info, readnum, uid)
        VALUES (#{typeId}, #{title}, #{content}, NOW(), #{origin}, #{info}, 0, #{uid})
    </insert>

    <delete id="delete" parameterType="int">
        delete from tb_article where id = #{id}
    </delete>

    <select id="findById" resultType="com.qtt.bbs.model.dto.forum.ArticleDto">
        select a.id,
               a.typeid,
               a.title,
               a.content,
               a.ctime,
               a.origin,
               a.info,
               a.readnum,
               a.uid,
               (select count(1) from tb_like where aid = #{id} group by aid) likeNum,
               (select count(1) from tb_comment where articleid = #{id} group by articleid) commentNum,
               a.readnum,
               u.nickname,
               u.avatarurl
        from tb_article a,
             tb_user u
        where a.uid = u.uid and a.id = #{id}
    </select>

    <select id="findByUid" resultType="com.qtt.bbs.model.dto.forum.ArticleDto">
        select a.id,
               a.typeid,
               a.title,
               a.content,
               a.ctime,
               a.origin,
               a.info,
               a.readnum,
               a.uid,
               a.readnum,
               (select count(1) from tb_like where uid = #{uid} group by aid) likeNum,
               (select count(1) from tb_comment where uid = #{uid} group by articleid) commentNum,
               u.nickname,
               u.avatarurl
        from tb_article a,
             tb_user u
        where a.uid = u.uid
          and a.uid = #{uid}
    </select>

    <select id="selectFollow" resultType="com.qtt.bbs.model.dto.forum.ArticleDto">
        select a.id,
               a.typeid,
               a.title,
               a.content,
               a.ctime,
               a.origin,
               a.info,
               a.readnum,
               a.uid,
               a.readnum,
               (select count(1) from tb_like where uid = #{uid} group by aid) likeNum,
               (select count(1) from tb_comment where uid = #{uid} group by articleid) commentNum,
               u.nickname,
               u.avatarurl
        from tb_article a, tb_user u where u.uid = a.uid and a.uid in (select followid from tb_follow where uid = #{uid})
    </select>

    <select id="articleNum" resultType="long">
        select count(1) from tb_article a, tb_user u where u.uid = a.uid
    </select>
    <select id="selectAll" resultType="com.qtt.bbs.model.dto.forum.ArticleDto">
        select a.id,
               a.typeid,
               a.title,
               a.content,
               a.ctime,
               a.origin,
               a.info,
               a.readnum,
               a.uid,
               a.readnum,
               u.nickname,
               u.avatarurl
        from tb_article a,
             tb_user u
        where a.uid = u.uid
    </select>

    <select id="getArticles" resultType="com.qtt.bbs.model.dto.forum.ArticleDto">
        select a.id,
               a.typeid,
               a.title,
               a.content,
               a.ctime,
               a.origin,
               a.info,
               a.readnum,
               a.uid,
               a.readnum,
               u.nickname,
               u.avatarurl
        from tb_article a,
             tb_user u
        where a.uid = u.uid limit #{page}, #{size}
    </select>

    <select id="selectTop" resultType="com.qtt.bbs.model.dto.forum.ArticleDto">
        select a.id,
               a.typeid,
               a.title,
               a.content,
               a.ctime,
               a.origin,
               a.info,
               a.readnum,
               a.uid,
               a.readnum,
               u.nickname,
               u.avatarurl
        from tb_article a,
             tb_user u
        where a.uid = u.uid order by readnum desc
    </select>

    <select id="findByType" resultType="com.qtt.bbs.model.dto.forum.ArticleDto">
        select a.id,
               a.typeid,
               a.title,
               a.content,
               a.ctime,
               a.origin,
               a.info,
               a.readnum,
               a.uid,
               a.readnum,
               u.nickname,
               u.avatarurl
        from tb_article a,
             tb_user u
        where a.uid = u.uid and typeid = #{typeId}
    </select>

    <select id="fuzzySearch" resultType="com.qtt.bbs.model.dto.forum.ArticleDto">
        select a.id,
               a.typeid,
               a.title,
               a.content,
               a.ctime,
               a.origin,
               a.info,
               a.readnum,
               a.uid,
               u.nickname,
               u.avatarurl
        from tb_article a,
             tb_user u
        where a.uid = u.uid and
              (title like concat('%', #{title}, '%') or content like concat('%', #{content}, '%'))
    </select>

    <update id="addReadNum">
        update tb_article set readnum = readnum + 1 where id = #{id}
    </update>

</mapper>