<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtt.bbs.dao.forum.FollowDao">
    <resultMap id="followMap" type="com.qtt.bbs.model.entity.Follow">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="followId" column="followid"/>
    </resultMap>

    <insert id="addFollow">
        insert tb_follow(uid, followid)
        VALUES (#{uid}, #{followId})
    </insert>

    <delete id="delFollow">
        delete from tb_follow where id = #{id}
    </delete>

    <select id="allFollows" resultType="com.qtt.bbs.model.dto.forum.FollowDto">
        select f.id, f.uid, f.followid, u.avatarurl, u.nickname
        from tb_follow f
                 left join tb_user u on f.followid = u.uid
        where f.uid = #{uid}
    </select>

    <select id="allFans" resultType="com.qtt.bbs.model.dto.forum.FollowDto">
        select f.id, f.uid, f.followid, u.avatarurl, u.nickname
        from tb_follow f
                 left join tb_user u on f.uid = u.uid
        where f.followid = #{followId}
    </select>

    <select id="isFollowed" resultType="int">
        select count(1)
        from tb_follow
        where uid = #{uid}
          and followid = #{followId}
    </select>

    <select id="followNums" resultType="int">
        select count(1)
        from tb_follow
        where uid = #{uid}
    </select>

    <select id="fansNums" resultType="int">
        select count(1)
        from tb_follow
        where followid = #{followId}
    </select>
</mapper>