<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtt.bbs.dao.forum.UserDao">
    <resultMap id="masterMap" type="com.qtt.bbs.model.entity.User">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="nickName" column="nickname"/>
        <result property="gender" column="gender"/>
        <result property="city" column="city"/>
        <result property="avatarUrl" column="avatarurl"/>
        <result property="unionId" column="unionid"/>
        <result property="balance" column="balance"/>
    </resultMap>

    <select id="selectByUid" resultMap="masterMap">
        select *
        from tb_user
        where uid = #{uid}
    </select>

    <update id="updateScore">
        update tb_user set balance = balance + #{score} where uid = #{uid}
    </update>

    <select id="getId" resultType="Integer">
        select id
        from tb_user
        where uid = #{uid}
    </select>

    <select id="findByUid" resultMap="masterMap">
        select *
        from tb_user
        where uid = #{uid}
    </select>

    <update id="modifyInfo" parameterType="com.qtt.bbs.model.entity.User">
        update tb_user
        <set>
            <if test="nickName != null">nickname=#{nickName},</if>

            <if test="gender != null">gender=#{gender},</if>

            <if test="city != null">city=#{city},</if>
        </set>
        where uid = #{uid}
    </update>

    <insert id="insert">
        insert into tb_user(uid, nickname, gender, city, avatarurl, unionid, balance)
        VALUES (#{uid}, #{nickName}, #{gender}, #{city}, #{avatarUrl}, #{unionId}, #{balance})
    </insert>

    <select id="userDetail" resultType="com.qtt.bbs.model.dto.forum.UserDetail">
        select u.uid,
               u.gender,
               u.avatarurl,
               u.nickname,
               (select count(1) from tb_circle where uid = #{uid} group by uid)           circleNum,
               (select count(1) from tb_follow where followid = #{uid} group by followid) fansNum,
               (select count(1) from tb_follow where uid = #{uid} group by uid)           followNum
        from tb_user u
        where uid = #{uid}
    </select>

    <update id="updateUserInfo">
        update tb_user set nickname = #{nickName}, gender = #{gender}, city = #{city}, avatarurl = #{avatarUrl} where uid = #{uid}
    </update>

    <select id="isExist" resultMap="masterMap">
        select *
        from tb_user
        where uid = #{userId}
    </select>
</mapper>